body{
    height: 900px;
    width: 100%;
    background-color: #126e82;
    background-image: url("code.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-wrapper{
    width: 1170px;
}

.header-logo h1{
    float: left;
    margin-right: 100px;
    margin-top:20px;
    font-family: Georgia;
    margin-left: 80px;
    letter-spacing: 1px;
}

.header-logo a{
    text-decoration: none;
    color:whitesmoke;
}


.nav li{
    float: left;
    margin:45px 30px 0px 70px;
    list-style:none;
    font-family: "Verdana";
    color: whitesmoke;
    font-size: 15px;
}
.nav a{
    text-decoration: none;
    color: whitesmoke;
}

li a:hover{
    color: rgb(207, 195, 125);
    text-decoration: underline;
}

.content-item{
    position: absolute;
    color: whitesmoke;
    margin-top:360px;
    margin-left: 860px;
    font-family: verdana;
    font-size: 22px;

}
.logo{
    height: 70px;
    width: 150px;
    position: absolute;
    margin-top: 420px;
}
.content-item {
    text-indent: 20px;
}

.pa{
    text-indent: 40px;
}


.trademark{
    position: absolute;
    margin-top: 870px;
    color: white;
    margin-left: 570px;
    font-family: Verdana;
    font-size: 14px;
}